/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.marTop1rem{
    margin-top: 1rem;
}

.padOri1rem{
    padding: 0 1rem;
}

.colGreSel{
    color: rgba(210,210,210,255);
}

.borLef3px{
    border-left: 3px solid transparent;
}

.padLi{
    padding: 0.3rem 1rem;
}

.colWhi{
    color: white;
}

.verAliMid{
    vertical-align: middle;
}

.padVer0_5rem{
    padding: 0.5rem 0;
}

.fonSiz1_5rem{
    font-size: 1.5rem;
}

.jusConCen{
    justify-content: center;
}

.marRig1_5rem{
    margin-right: 1.5rem;
}

.pad1rem{
    padding: 1rem;
}

.marTop2rem{
    margin-top: 2rem;
}

h2{
    font-size: 1.5rem;
}

.marTop0_5rem{
    margin-top: 0.5rem;
}

.colGre{
    color: rgba(163,163,163,255);
}

.texAliCen{
    text-align: center;
}

.marRig2{
    margin-right: 2%;
}

.marTop3rem{
    margin-top: 3rem;
}

.borRad50{
    border-radius: 50%;
    overflow: hidden;
}
/* Container */
body > div{
    height: 100vh;
    width: 100%;
}
/* Parte superiore */
#superior{
    height: 85vh;
}
/* Navbar */
nav{
    height: 100%;
    width: 15%;
    background-color: black;
    color: rgba(163,163,163,255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav img{
    width: 70%;
}

#home{
    border-left: 3px solid rgba(173,255,47,255);
}

#plus{
    font-size: 2rem;
}

#playlistContainer{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: auto;
}

nav > div:last-child{
    padding: 1em;
}

#user{
    border-top: 1px solid rgba(163,163,163,255);
}
/* Main */
main{
    height: 100%;
    width: 85%;
    background-color: rgba(19,24,32,255);
}

#upgrade{
    background-color: rgba(8,11,18,255);
    padding: 0 1rem;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
}

#btn{
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}

#filters{
    color: rgba(163,163,163,255);
}

#recentlyPlayedContainer{
    width: 100%;
}

#recentlyPlayedContainer > div{
    width: 15%;
}

main > div:last-child{
    height: calc(100% - 10vh);
    overflow: auto;
}

.imageContainer{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.imageContainer > img{
    width: 100%;
    display: block;
}
/* Footer */
footer{
    height: 15vh;
    background-color: green;
}