/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
body > div{
    height: 100vh;
    width: 100%;
    background-color: red;
}
/* Parte superiore */
#superior{
    height: 85vh;
    background-color: blue;
    display: flex;
}
/* Navbar */
nav{
    height: 100%;
    width: 15%;
    background-color: red;
}
/* Main */
main{
    height: 100%;
    width: 85%;
    background-color: yellow;
}
/* Footer */
footer{
    height: 15vh;
    background-color: green;
}