/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: sans-serif;
    list-style-type: none
}

.flex{
    display: flex;
}

.marTop1rem{
    margin-top: 1rem;
}

.padOri1rem{
    padding: 0 1rem;
}

.colGreSel{
    color: rgba(210,210,210,255);
}

.borLef3px{
    border-left: 3px solid transparent;
}

.padLi{
    padding: 0.3rem 1rem;
}

.colWhi{
    color: white;
}

.verAliMid{
    vertical-align: middle;
}

.padVer0_5rem{
    padding: 0.5rem 0;
}

.fonSiz1_5rem{
    font-size: 1.5rem;
}

.jusConCen{
    justify-content: center;
}

.marRig1_5rem{
    margin-right: 1.5rem;
}

.pad1rem{
    padding: 1rem;
}

.marTop2rem{
    margin-top: 2rem;
}

h2{
    font-size: 1.5rem;
}

.marTop0_5rem{
    margin-top: 0.5rem;
}

.colGre{
    color: rgba(163,163,163,255);
}

.texAliCen{
    text-align: center;
}

.marRig2{
    margin-right: 2%;
}

.marTop3rem{
    margin-top: 3rem;
}

.borRad50{
    border-radius: 50%;
    overflow: hidden;
}

.marRig0_5rem{
    margin-right: 0.5rem;
}

.fonSiz0_8rem{
    font-size: 0.8rem;
}

.marRig3rem{
    margin-right: 3rem;
}

.marRig1rem{
    margin-right: 1rem;
}

.fonSiz2rem{
    font-size: 2rem;
}

.padOri0_5rem{
    padding: 0 0.5rem;
}

.fonSiz3rem{
    font-size: 3rem;
}

.jusConEnd{
    justify-content: flex-end;
}

.pad0_5rem{
    padding: 0.5rem;
}

a{
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}

.fonSiz5rem{
    font-size: 5rem;
}

.posRel{
    position: relative;
}
/* Container */
body > div{
    height: 100vh;
    width: 100%;
}
/* Parte superiore */
#superior{
    height: calc(100vh - 100px);
}
/* Navbar */
nav{
    height: 100%;
    width: 15%;
    background-color: black;
    color: rgba(163,163,163,255);
    overflow: auto;
    min-width: 204.89px;
}

#navbar1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav img{
    width: 70%;
}

#home{
    border-left: 3px solid rgba(173,255,47,255);
}

#plus{
    font-size: 2rem;
}

#playlistContainer{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: auto;
}

#navbar1 > div:last-child{
    padding: 1rem;
}

#user{
    border-top: 1px solid rgba(163,163,163,255);
}

#navbar2 img{
    width: 100%;
}

.iconContainer{
    width: 100%;
}

#navbar2{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    display: none;
}
/* Main */
main{
    height: 100%;
    width: 85%;
    background-color: rgba(19,24,32,255);
}

#upgrade{
    background-color: rgba(8,11,18,255);
    padding: 0 1rem;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
}

#btn{
    padding: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}

#filters{
    color: rgba(163,163,163,255);
}

#recentlyPlayedContainer{
    width: 100%;
}

#recentlyPlayedContainer > div{
    width: 15%;
}

main > div:last-child{
    height: calc(100% - 10vh);
    overflow: auto;
}

.imageContainer{
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.imageContainer > img{
    width: 100%;
    display: block;
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: none;
}

#bordo{
    height: 3px;
    width: 30%;
    background-color: rgba(173,255,47,255);
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
}
/* Footer */
footer{
    height: 100px;
    background-color: rgba(40,40,40,255);
}

footer > div{
    height: 100%;
}

.lateral{
    width: 30%;
}

#central{
    width: 40%;
    flex-direction: column;
}

#smallImageContainer{
    height: 50%;
    aspect-ratio: 1 / 1;
}

footer > div:first-child{
    align-items: center;
}

#smallImageContainer > img{
    height: 100%;
}

#central > div:first-child{
    width: 100%;
    align-items: center;
}

#central > div:last-child{
    width: 100%;
    justify-content: space-between;
}

.minutes{
    width: 10%;
}

#bar{
    width: 80%;
    align-items: center;
}

#bar > div:first-child{
    height: 50%;
    width: 8%;
    background-color: white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#bar > div:last-child{
    height: 50%;
    width: 92%;
    background-color: rgba(163,163,163,255);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}